body {
        background-color: yellow;
}

body::-webkit-scrollbar {
        display: none;

}
.header {
        background-image: url("http://i63.tinypic.com/15xmzbs.jpg");
        background-repeat: repeat;
        border-width: 3px;
        border-style: groove;
        border-radius: 6px;
}

h1 {
        text-align: center;
        color: blue;
        font-size: 80px;
        font-weight: bold;
        word-wrap: wrap;
}

ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background: linear-gradient(yellow, red);
        height: 50px;
        border-radius: 6px;
}

li {
        float: left;
}

li a {
        display: block;
        color: white;
        text-align: center;
        padding-right: 40px;
        padding-left: 10px;
        margin: 0;
        font-size: 20px;
        height: 50px;
}

li a:hover {
        color: black;
        background-color: white;
}

.welcome {
        display: flex;
        flex-wrap: wrap;
        background: linear-gradient(red, green);
        border-radius: 6px;
}

.welcome > h2 {
        text-align: center;
        font-size: 30px;
        font-style: italic;
        padding: 20px;
        margin: auto auto;
        color: white;
}
.intro {
        display: flex;
        flex-wrap: no-wrap;
        background-color: yellow;
        border-radius: 6px;
        border-collapse: collapse;
        margin-left:
        margin-right:
}

.intro > .message {
        width: 742px;
        height: 300px;
        margin: 10px;
        padding: 10px;
        text-align: center;
        overflow: auto;
}

.intro > .image1 {
        padding: 10px;
        margin: 10px;
        height: 300px;
        width: 732px;
        overflow: auto;
}

.goals {
        display: flex;
        flex-wrap: no-wrap;
        background-color: yellow;
        overflow: auto;
        border-radius: 6px;
}

.goals > .vision {
        width: 742px;
        height: 300px;
        margin: 10px;
        padding: 10px;
        text-align: center;
        overflow: auto;
}

.goals > .mission {
        padding: 10px;
        margin: 10px;
        height: 300px;;
        width: 742px;
        text-align: center;
        overflow: auto;
}

h4 {
        margin: 0;
}

.image2 {
        display: block;
        height: 300px;
        width: 100%;
}


.video-container {
        display: flex;
        flex-wrap: no-wrap;
        position:relative;
	    padding-bottom: 30%;
	    padding-top:30px;
	    height: 0;
	    overflow: scroll;
	    width: 60%;
	    margin: auto auto;
	    border-width: 6px;
	    border-style: groove;
	    border-color: white;
	    border-radius: 10px;
	    margin: auto auto;

}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.video-container > .sometext {
        display: block;
        color: black;
        width: 50%;
        margin-left: 200px;
        padding-left: 200px;
        word-wrap: wrap;
}

h7 {
        color: black;
}
.footer {
        display: block;
        position: fixed;
        bottom: 0;
        padding: 0;
        width: 100%;
        background: linear-gradient(grey, black);
        left: 0;
        color: white;
        height: 10%;
}

.footer > div {
        display: inline-block;
        padding-top: 20px;
        padding-left: 10px;
}

.message::-webkit-scrollbar {
        display: none;
}

.vision::-webkit-scrollbar {
        display: none;
}

.mission::-webkit-scrollbar {
        display: none;
}

.video-container::-webkit-scrollbar {
        display: none;
}

