@media screen and (max-device-width: 768px;) {
        .welcome {
                background: linear-gradient(red, green);
        }

        .superior {
                height: 10%;
        }

        .mySlides {

        }

         {
                color: red;
        }
}



