
.header {
        background-image: url("http://i63.tinypic.com/15xmzbs.jpg");
        background-repeat: repeat;
        border-width: 3px;
        border-style: groove;
}

h1 {
        text-align: center;
        color: blue;
        padding-top: 80px;
        font-size: 80px;
}

ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: grey;
        height: 50px;
}

li {
        float: left;
}

li a {
        display: block;
        color: white;
        text-align: center;
        padding: 10px;
        font-size: 20px;
        height: 100%;
}

li a:hover {
        color: black;
        background-color: white;
}

.welcome {
        text-align: center;
        font-size: 30px;
        font-style: italic;
        padding: 20px;
        background-color: red;
}

.intro {
        background-color: green;
        display: grid;
        padding: 20px;
        grid-column-gap: 20px;
        grid-template-columns: 50px 50px;
}

.umzimba {
        background-color: yellow;
        overflow: auto;
}




.footer {
        position: fixed;
        bottom: 0;
        padding: 0;
        width: 100%;
        background: linear-gradient(grey, black);
        left: 0;
        text-align: center;
        color: white;
        overflow: hidden;
}






<<<<<<< HEAD
=======
        .welcome > h2 {
        text-align: center;
        font-size: 20px;
        font-style: italic;
        padding: 20px;
        margin: auto auto;
        color: white;
        }

        h1 {
                text-align: center;
                color: blue;
                font-size: 40px;
                font-weight: bold;
                word-wrap: wrap;
        }

        .intro > .message {
                display: inline-block;
                height: 300px;
                margin: auto auto;
                padding-left: 50px;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
        }

        .intro > .image1 {
                display: block;
                padding: 10px;
                margin: auto auto;
                height: 300px;
                overflow: hidden;
        }
        .footer {
                display: inline;
                position: fixed;
                bottom: 0;
                padding: 0;
                width: 100%;
                background: linear-gradient(grey, black);
                left: 0;
                color: white;
                height: 5%;
        }
        .footer > div {
                display: inline-block;
                padding-top: 5px;
        }
        .goals > mission {
                overflow: hidden;
                text-overflow: ellipsis;
        }
        .goals > mission {
                text-overflow: ellipsis;
                overflow: auto;
        }
}
>>>>>>> fb8822f0ef404f39463bd825c961000127dbb61b


<div>
                    <h10><a href="https://www.facebook.com/TheNETAfricanYouth">Facebook</a></h10>
                </div>
                <div>
                    <h10></h10>
                    <a href=" ">naycultic@gmail.com</a>
                </div>
                <div>
                    <h10><a href="https://twitter.com/NayCultic">Twitter</a></h10>
                </div>
                <div>
                    <h10><a href="https://www.instagram.com/thenet.africanyouth_naycultic/">Instagram</a></h10>
                </div>

<a href="https://www.instagram.com/thenet.africanyouth_naycultic/" class="fa fa-instagram" style="font-size:48px;color:red"></i>

<a href="https://twitter.com/NayCultic" class="fa fa-twitter-square" style="font-size:48px;color:red"></i>
