body {
        font-family: 'Frijole', cursive;
}

body::-webkit-scrollbar {
        display: none;
}

.superior {
        position: relative;
        display: block;
        width: 100%;
        border-width: 3px;
        border-style: groove;
        border-radius: 6px;

}

.mySlides {
        object-fit: fill;
        height: 500px;
}

@media screen and (min-width: 299px) and (max-width: 768px) {
        .mySlides {
                height: 250px;
        }
}

.text-block {
    position: absolute;
    top: 0;
    left: 0;
    background-color: none;
    color: red;
    border: 2px solid;
    border-color: red;
    border-radius: 6px;
    width: 20%;
    height: 50px;
    overflow: hidden;
    -webkit-transition: height 1s linear; /* For Safari 3.1 to 6.0 */
    transition: height 1s linear;
}

@media screen and (min-width: 299px) and (max-width: 768px) {
        .text-block {
                width: 250px;
        }
}

.text-block:hover {
        height: 95%;
        background-color: #3a3b3d;
}

.cover {
        display: inline;
        float: left;
        width: 100%;
}

.head {
        display: block;
        width: 20%;
        border: 2px solid white;
        border-radius: 3px;
}

.head > .menu {
    display: block;
    width: 60%;
    height: 5px;
    background-color: red;
    margin: auto auto;
    margin-bottom: 7px;
    margin-top: 2px;
    border: 1px solid;
    border-color: transparent;
    border-radius: 4px;
}

.head > .menu:hover {
        color: black;
        background-color: white;
}

li {
        float: none;
}

li a {
        display: block;
        color: white;
        padding: 5px;
        font-size: 16px;
        width: 50%;
}

li a:hover {
        color: black;
        background-color: white;
}

.text-in {
        position: absolute;
        top: 0;
        left: 23%;
}

h1 {
        font-size: 20px;
}

@media screen and (min-width: 299px) and (max-width: 1300px) {
        h1 {
                font-size: 16px;
        }
}

.welcome {
        display: flex;
        flex-wrap: wrap;
        background: linear-gradient(red, teal);
        border-radius: 6px;
}

.anime {
        display: block;
        word-wrap: nowrap;
        width: 50%;
        height: 50px;
        background: transparent;
        position: relative;
        -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
        animation: mymove 5s infinite;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        animation-direction: alternate;
}

@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 54%;}
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 54%;}
}

.welcome > h2 {
        text-align: center;
        font-size: 16px;
        font-style: italic;
        margin: auto auto;
        color: white;
}

@media screen and (min-width: 299px) and (max-width: 768px) {
        h2 {
                font-size: 10px;
        }
}

.goals {
        display: flex;
        flex-wrap: no-wrap;
        width: 85%;
        margin: auto auto;
        overflow: auto;
        border-radius: 6px;
        padding-bottom: 40px;
        height: 450px;
        border-bottom: 3px solid red;
}

.goals > .vision {
        width: 100%;
        margin: 10px;
        padding: 10px;
        text-align: center;
        overflow: auto;
}

@media screen and (min-width: 299px) and (max-width: 768px) {
        .vision {
                font-size: 8px;
        }
}

.vision::-webkit-scrollbar {
        display: none;
}

.footer {
        display: block;
        position: fixed;
        bottom: 0;
        padding: 0;
        width: 100%;
        background: linear-gradient(grey, black);
        left: 0;
        color: white;
        height: 10%;
}

.footer a {
  padding: 20px;
  font-size: 50px;
  width: 7px;
  text-decoration: none;
  margin: 5px 2px;
}
